.btn {
  display: inline-block;
  min-width: 154px;
  border-radius: 10px;
  color: $white;
  text-align: center;
  font-size: 18px;
  line-height: 32px;
  padding: 10px 50px;
  transition: all 0.3s ease;
  border: 1px solid;

  &:hover {
    transition: all 0.3s ease;
  }

  &.primary-btn {
    background-color: $blue;
    border-color: $blue;

    &:hover {
      background-color: $blue-1;
      color: $white;
    }
  }

  &.secondary-btn {
    background-color: $orange;
    border-color: $orange;
    color: $gray;

    &:hover {
      background-color: $orange-1;
    }
  }

  &.fake-btn {
    padding: 0;
    color: $gray;
    min-width: 0;
    border: 0;

    &:hover {
      color: $blue-1;
    }
  }
}
