<!-- <footer class="footer-section" id="footer">
	<div class="container">
		<div class="footer-top">
			<div class="footer-main">
				<strong class="footer-main__img">
					<a href="/">
						<img src="img/logo.svg" alt="logo-footer" />
					</a>
				</strong>
				<p class="footer-main__text">
					Far far away, behind the word mountains, far from the countries
					Vokalia and Consonantia
				</p>
			</div>
			<div class="footer-col">
				<ul class="footer-nav">
					<li class="footer-nav__title">
						<h3>Work</h3>
					</li>
					<li><a href="/">Blog</a></li>
					<li><a href="/">How We Work</a></li>
					<li><a href="/">Testimonials</a></li>
				</ul>
			</div>
			<div class="footer-col">
				<ul class="footer-nav">
					<li class="footer-nav__title">
						<h3>Services</h3>
					</li>
					<li><a href="/">Marketing Strategy</a></li>
					<li><a href="/">Website Optimization</a></li>
					<li><a href="/">Email Maerketing</a></li>
				</ul>
			</div>
			<div class="footer-col">
				<ul class="footer-nav">
					<li class="footer-nav__title">
						<h3>Business Solution</h3>
					</li>
					<li><a href="/">Partnership</a></li>
					<li><a href="/">About Project</a></li>
					<li><a href="/">Corporate</a></li>
				</ul>
			</div>
			<div class="footer-col">
				<ul class="footer-nav">
					<li class="footer-nav__title">
						<h3>Language</h3>
					</li>
					<li><a href="/">English</a></li>
					<li><a href="/">Russian</a></li>
					<li><a href="/">Ukrainian</a></li>
				</ul>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="footer-author">
				<p> &copy DaCode, 2020</p>
			</div>
			<div>
				<ul class="footer-social">
					<li>
						<a href="/">
							<i class=" icon icon-facebook"></i>
						</a>
					</li>
					<li>
						<a href="/">
							<i class=" icon icon-instagram"></i>
						</a>
					</li>
					<li>
						<a href="/">
							<i class=" icon icon-twitter"></i>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</footer> -->