<header class="header">
  <div class="container">
    <strong class="header__img">
      <a href="/">
        <img src="img/logo.svg" alt="image description" />
      </a>
    </strong>
    <div class="header-menu">
      <button class="header-menu-opener">
        <span></span>
      </button>
      <ul class="header__pages">
        <li class="header__pages-opener">
          <button class="header-menu-opener">
            <span></span>
          </button>
        </li>
        <li><a href="/" class="active">Home</a></li>
        <li><a href="/">Services</a></li>
        <li><a href="/">Case</a></li>
        <li><a href="/">DaCode Specialists</a></li>
        <li><a href="/">Blog</a></li>
        <!-- <li><a href="#footer">foter</a></li> -->
        <li>
          <button class="btn secondary-btn outline-btn">Request a quote</button>
        </li>
      </ul>
    </div>
  </div>
</header>
