$font-main: "Montserrat", sans-serif;

// Color:
$white: #ffffff;
$black: #000000;

$blue: #3366FF;
$blue-1: #2A50C1;
$gray: #2D2D2D;
$gray-1: #BCBCBC;
$gray-2: #D0D0D0;
$lightpink:#F7F5FD;
$orange: #F8D57E;
$orange-1: #DFBF70;
$orange-3: #FCFAF5;
$mint: #F2FAF8;
$purple: #ECE7FB;

// Breakpoints:
$breakpoint-xs: 768px;
$breakpoint-sm: 992px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1600px;
