$font-main: "Montserrat", sans-serif;

// Color:
$white: #ffffff;
$black: #000000;

$purple: #5B00FB;
$purple-1: #BB82DB;
$pink: #D70BCA;
$dark: #09010D;
$dark-2: #101029;
$dark-3: #1D0F35;
$dark-4: #1E1E37;
$gray: #D0D0D0;
$gray-1:#7C7C7C;
$blue: #636DC1;
$gradient: radial-gradient(circle, rgba(93,0,250,1) 0%, rgba(215,11,202,1) 100%);
$radial: radial-gradient(circle, rgba(187,130,219,1) 0%, rgba(99,109,193,1) 15%, rgba(29,15,53,1) 100%);


// Breakpoints
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1600px;
