$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts/icon-font" !default;

$icon-arrow-down: "\e904";
$icon-arrow-leftt: "\e900";
$icon-arrow-right: "\e901";
$icon-facebook: "\e902";
$icon-instagram: "\e903";
$icon-twitter: "\e908";


