$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts/icon-font" !default;

$icon-closed-lock: "\e905";
$icon-note: "\e906";
$icon-person: "\e907";
$icon-send: "\e90a";
$icon-shopping-bag: "\e90b";
$icon-sign-out: "\e90c";
$icon-akar-icons_twitter-fill: "\e90d";
$icon-open-lock: "\e90e";
$icon-clarity-list: "\e90f";
$icon-document: "\e910";
$icon-menu-grid: "\e911";
$icon-add-new: "\e912";
$icon-close-x: "\e914";
$icon-arrow-up: "\e915";
$icon-letter: "\e916";
$icon-instagram1: "\e917";
$icon-label: "\e918";
$icon-arrow-filled-down: "\e919";
$icon-viewfinder: "\e91a";
$icon-arrow-filled-right: "\e91b";
$icon-telegram: "\e91e";
$icon-arrow-down: "\e904";
$icon-arrow-leftt: "\e900";
$icon-arrow-right: "\e901";
$icon-facebook: "\e902";
$icon-instagram: "\e903";
$icon-twitter: "\e908";


