.footer-section {
  padding: 40px 0;

  @media (min-width: $breakpoint-sm) {
    padding: 70px 0;
  }
}

.footer {
  @media (min-width: $breakpoint-sm) {
    display: flex;
    justify-content: space-between;

  }
}

.footer-left {
  &__img {
    width: 154px;
    margin-bottom: 40px;

    @media (min-width: $breakpoint-sm) {
    margin-bottom: 74px;

    }

    img {
      display: block;
      width: 100%;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 12px;
  }

  &__search {
    margin-bottom: 32px;
  }

  &__list {
    display: none;

    @media (min-width: $breakpoint-sm) {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      margin: 0 -15px;
    }

    li {
      padding: 0 15px;
      font-weight: 600;
      font-size: 18px;
      line-height: 32px;
    }

    a {
      color: $gray;

      &:hover {
        color: $blue-1;
      }
    }
  }
}

.footer-right {
  
  @media (min-width: $breakpoint-sm) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

  }

  &__box {
    display: flex;

  }

  &__nav {
    display: none;

    @media (min-width: $breakpoint-sm) {
      display: block;
      padding: 0 30px;
      margin: -8px 0;

    }
    li {
      padding: 8px 0;
    }

    a {
      color: $gray;
      font-size: 18px;
      line-height: 24px;

      &:hover {
        color: $blue-1;
      }
    }
  }

  &__title {
    font-weight: 600;
    font-size: 18px;
    line-height: 24px;
  }

  &__social {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 -10px;

    @media (min-width: $breakpoint-sm)  {
    justify-content: flex-end;

    }

    li {
      padding: 0 10px;
    }

    img {
      width: 30px;
    }

  }

  &__list {

    @media (min-width: $breakpoint-sm) {
      display: none;
    }
      margin: 0 -10px 40px;

    li {
      padding: 0 10px;
      font-weight: 600;
      font-size: 18px;
      line-height: 32px;
    }

    a {
      color: $gray;

      &:hover {
        color: $blue-1;
      }
    }
  }

}