.header {
  padding: 22px 0;
  
  &__img {
    width: 154px;

    img {
      display: block;
      width: 100%;
    }
  }

  &__btn {
      display: none;

    @media (min-width: $breakpoint-xs) {
      display: flex;
      align-items: center;
      gap: 30px;
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}