.store-section {
  background-color: $lightpink;
  padding: 80px 0;

  @media (min-width: $breakpoint-xs) {
    padding: 70px 0;
  }
}

.store {
  text-align: center;

  @media (min-width: $breakpoint-xs) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
  }

  &__box {
    margin-bottom: 60px;
    @media (min-width: $breakpoint-xs) {
      max-width: 466px;
      margin-bottom: 0;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 30px;

    @media (min-width: $breakpoint-xs) {
      font-size: 80px;
      line-height: 90px;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 32px;
    color: rgba($gray, 0.5);
    margin-bottom: 40px;
  }

  &__img {
    @media (min-width: $breakpoint-xs) {
      width: 460px;
    }

    img {
      display: block;
      width: 100%;
    }
  }
}

.video-section {
  background-color: $mint;
  padding: 54px 0;

  @media (min-width: $breakpoint-xs) {
    padding: 70px 0;
  }
}

.video {
  margin: auto;
  max-width: 765px;

  &__img {
    position: relative;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    i {
      color: $white;
      font-size: 50px;
      cursor: pointer;

      &:hover {
        color: $blue;
      }
    }
  }

  img {
    display: block;
    width: 100%;
  }
}

.logo-section {
  padding: 40px 0;

  @media (min-width: $breakpoint-xs) {
    padding: 80px 0;
  }
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -12px;

  @media (min-width: $breakpoint-xs) {
    margin: 0 -35px;
  }

  li {
    padding: 0 12px 10px;

    @media (min-width: $breakpoint-md) {
      padding: 0 35px;
    }
  }

  img {
    display: block;
    height: 24px;
    width: 100%;

    @media (min-width: $breakpoint-xs) {
      height: 36px;
    }
  }
}

.features-section {
  padding: 80px 0;

  @media (min-width: $breakpoint-xs) {
    padding: 116px 0;
  }
}

.feedback-section {
  background-color: $purple;
  padding: 26px 0;

  @media (min-width: $breakpoint-xs) {
    padding: 50px 0;
  }

  .container {
    max-width: 840px;
  }
}

.feedback {
  @media (min-width: $breakpoint-xs) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__img {
    border-radius: 50%;
    border: 2px solid $gray-1;
    background-color: $gray-1;
    overflow: hidden;
    width: 260px;
    height: 294px;
    flex-shrink: 0;
    margin: 0 auto 60px;

    @media (min-width: $breakpoint-xs) {
      width: 352px;
      height: 400px;
      margin: 0;
    }

    img {
      display: block;
      width: 100%;
    }
  }

  &__box {
    max-width: 420px;
    margin: 0 auto;

    @media (min-width: $breakpoint-xs) {
      margin: 0;
    }
  }

  &__text {
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 40px;
    position: relative;

    &::before {
      display: inline-block;
      content: "“";
      font-size: 60px;
      position: absolute;
      top: -20px;
    }
  }

  &__author {
    font-size: 18px;
    line-height: 32px;
    color: rgba($gray, 0.5);
  }
}

.talk-section {
  background-color: $orange-3;
  padding: 74px 0;

  @media (min-width: $breakpoint-xs) {
    padding: 60px 0;
  }
}

.talk {
  text-align: center;
  @media (min-width: $breakpoint-xs) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
  }

  &__box {
    margin-bottom: 60px;
    @media (min-width: $breakpoint-xs) {
      max-width: 386px;
      margin-bottom: 0;
    }
  }

  &__img {
    @media (min-width: $breakpoint-xs) {
      width: 460px;
    }

    img {
      display: block;
      width: 100%;
    }
  }

  &__title {
    font-size: 50px;
    line-height: 60px;
    font-weight: 600;
    margin-bottom: 30px;

    @media (min-width: $breakpoint-xs) {
      font-size: 80px;
      line-height: 90px;
    }
  }

  &__text {
    font-size: 18px;
    line-height: 32px;
    color: rgba($gray, 0.5);
    margin-bottom: 40px;
  }
}